URxvt*font: xft:xos4 Terminus:size=12
URxvt*background: rgba:0000/2b00/3600/ee00
URxvt*foreground: #eee8d5
urxvt*borderColor: #333232
urxvt*depth: 32
urxvt*blurRadius: 6
URxvt*scrollBar: false
URxvt*cursorBlink: true
urxvt*internalBorder: 0
urxvt*borderColor: #002b36

